.modal-search {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: scale(0);
    overflow:scroll;
    transition: 0.5s; 
    z-index: 2;
}

.modal-search.active {
    transform: scale(1);

}

.modal-search_content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 90vw;
    height: 90vh;
    overflow:scroll;

}

.modal-search_content .modal-search_content_search {
    display: flex;
    justify-content: center;
}

.modal-search_content .modal-search_content_search input {
    height: 40px;
    width: 95%;
}

.modal-search_content .modal-search_content_search .modal-search_content_search_close {
    display: flex;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
}

.modal-search_content .modal-search_product {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}