.enter-phone {
    display: flex;
    padding: 0 20% 0 10%;
    box-sizing: border-box;
}

.enter-phone .enter-phone_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DCE5E2;
    border-radius: 16px;
    width: 100%;


}

.enter-phone .enter-phone_background .enter-phone_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.enter-phone .enter-phone_background .enter-phone_info .enter-phone_heading {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    }

.enter-phone .enter-phone_info .enter-phone_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


.enter-phone .enter-phone_background .enter-phone_img {
    display: flex;
    width: 25%;
    margin-top: 20px;
}

.enter-phone .enter-phone_background .enter-phone_img img {
    width: 100%;
}

.enter-phone .enter-phone_background .enter-phone_sign-up {
    display: flex;
    margin: 20px 0 20px 0;
}

.enter-phone .enter-phone_background .enter-phone_sign-up input {
    width: 285px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 54px;
    padding-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.enter-phone .enter-phone_background .enter-phone_sign-up button {
    width: 115px;
    height: 50px;
    border-radius: 54px;
    background: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
 }

.enter-phone .enter-phone_background .enter-phone_sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-phone .enter-phone_background .enter-phone_sign-up input { 
    margin-bottom: 20px;
}

.enter-phone .enter-phone_background .enter-phone_sign-up .enter-phone_sign-up_sign-correct {
   height: 25px;
   color:tomato;
}