.most-selled-items {
    display: flex;
    box-sizing: border-box;  
    padding: 40px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
}

.most-selled-items .most-selled-items_head {
    display: flex;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
}

.most-selled-items .most-selled-items_description {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
}

.most-selled-items .most-selled-items_list-items {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.most-selled-items .most-selled-items_list-items .most-selled-items_list-items_items {
    display: flex;
    flex-basis: 23%;
    flex-direction: column;
}

.most-selled-items .most-selled-items_list-items .most-selled-items_list-items_items .most-selled-items_list-items_items_img img {
    width: 100%;
}

.most-selled-items .most-selled-items_list-items .most-selled-items_list-items_items .most-selled-items_list-items_items_info {
    margin-top: 30px;
}

.most-selled-items .most-selled-items_list-items .most-selled-items_list-items_items .most-selled-items_list-items_items_info .most-selled-items_list-items_items_info_name {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.most-selled-items .most-selled-items_list-items .most-selled-items_list-items_items .most-selled-items_list-items_items_info .most-selled-items_list-items_items_info_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-top: 10px;
}

.most-selled-items .most-selled-items_list-items .most-selled-items_list-items_items .most-selled-items_list-items_items_info .most-selled-items_list-items_items_info_price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 20px;

}