.modal {
  background-color: rgba(0, 0, 0, 0, 4);
  margin-top: 30px;
  position: absolute;
  right: 50px;
  display: flex;
  transform: scale(0);
  transition: 0.5s;
  z-index: 1;
}

.modal .modal_close {
  display: flex;
  height: 12px;
  width: 12px;
  background-color: rgb(236, 236, 236);
  color: tomato;
  position: absolute;
  align-items: center;
  cursor: pointer;
}

.modal.active {
  transform: scale(1);
  z-index: 2;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(236, 236, 236);
  width: 300px;
  justify-content: space-between;
}

.modal__content .modal__content_head {
  display: flex;
  justify-content: center;
  background-color: #0c723a;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 20px;
  padding: 5px;
}

.modal__content .modal__content_button {
  display: flex;
  justify-content: center;
}

.modal__content .modal__content_button button {
  background-color: rgb(158, 24, 1);
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.modal__content .modal__content_product {
  height: 80px;
  background-color: thistle;
}
