.filter {
    margin: 100px;
}

.filter .filter_listing {
    width: 300px;
    overflow-x: scroll;
      height: 200px;
      background-color: beige;
}

.filter .filter_listing li {
    list-style-type: none
}