.show-case {
  display: flex;
  background-color: #dce5e2;
  border-radius: 32px;
  margin-top: 20px;
  box-sizing: border-box;
  height: 421px;
  position: relative;
  z-index: 1; 
}

.show-case .show-case_arrow-left {
  display: flex;
  top: 45%;
  left: 20px;
  position: absolute;
  
}

.show-case .show-case_arrow-left .show-case_arrow-left-icon {
  width: 14px;
  height: 26px;
  background-image: url(../../../public/icons/show-case-arrow-left.svg);
  cursor: pointer;
}

.show-case .show-case_info {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding-left: 20px;
  justify-content: center;
  margin: 50px 0 0 40px;
}

.show-case .show-case_info .show-case_head {
  font-family: "Readex Pro";
  font-size: 58px;
  font-weight: 400;
}

.show-case .show-case_info .show-case_description {
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.show-case .show-case_info .show-case_button button {
  border: 1px solid #000000;
  border-radius: 200px;
  background: #dce5e2;
  width: 170px;
  height: 50px;
}

.show-case .show-case_picture {
  margin-left: 100px;
  height: 100%;
  display: block;
}



.show-case .show-case_picture img {
  width: 100%;
  max-height: 100%;

}

.show-case .show-case_arrow-right {
  position: absolute;
  right: 20px;
  top: 45%;
}

.show-case .show-case_arrow-right .show-case_arrow-right-icon {
  width: 14px;
  height: 26px;
  background-image: url(../../../public/icons/show-case-arrow-right.svg);
  cursor: pointer;
}

.show-case .show-case_dash {
  position: absolute;
  bottom: 30px;
  left: 24%;
}

.show-case .show-case_dash .dash {
  display: flex;
}
